<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
  <h1>Update User</h1>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/patch(id=${user.getId()})}" th:object="${user}">
  <label for="name">NAME</label><input name="name" th:field="*{name}" id = "name"/>
  <br><br>
  <label for="age">AGE</label><input name="age" th:field="*{age}" id = "age"/>
  <br><br>
  <label for="surname">SURNAME</label><input name="surname" th:field="*{surname}" id = "surname"/>
  <br><br>
  <label for="username">USERNAME</label><input name="USERNAME" th:field="*{username}" id = "username"/>
  <br><br>
  <label for="password">PASSWORD</label><input name="PASSWORD" th:field="*{password}" id = "password"/>
  <br><br>
  <label>Roles:
    <select size="2" multiple name="listRoles" required="required">
      <option selected="selected" value="1">ADMIN</option>
      <option value="2">USER</option>
    </select>
  </label>
  <input type="submit" value="Update">
</form>
</body>
</html>